@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/roboto-bold.woff2") format("woff2"), url("../fonts/roboto-bold.woff") format("woff");
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  background-color: #FFFFFF;
}
.page-header img {
  display: block;
  margin: 0 auto;
}
.page-header__logo {
  height: 118px;
  background-color: #142f4f;
}
.page-header__nav {
  box-sizing: border-box;
  width: 320px;
  padding: 20px 10px 13px 10px;
  margin: 0 auto;
}
.page-header__phone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 6px;
  margin-top: 17px;
}
.page-header__phone p {
  margin-bottom: 10px;
  font-size: 20px;
}
.page-header__phone span {
  font-size: 13px;
}
.page-header__link {
  box-sizing: border-box;
  width: 129px;
  padding: 5px 12px;
  margin-top: 23px;
  margin-bottom: 18px;
  font-size: 13px;
}
.button {
  color: #47A2D8;
  background-color: transparent;
  border: 1px solid #47A2D8;
  border-radius: 4px;
  transition: 0.4s linear;
}
.button:hover,
.button:focus {
  color: #FFFFFF;
  background-color: #47A2D8;
}
.button:active {
  opacity: 0.5;
}
.main-banner {
  display: block;
  width: 100%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #142f4f;
}
.item {
  display: block;
  box-sizing: border-box;
  min-width: 300px;
  margin-right: 10px;
}
.description {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 11px;
  margin-top: -1px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background-color: #142f4f;
  z-index: 2;
}
.container {
  display: flex;
  box-sizing: border-box;
  width: 320px;
  padding: 0 10px;
  margin: 0 auto;
  overflow-x: hidden;
}
.commodity-sections__heading {
  margin-bottom: 15px;
}
.commodity-sections__item img {
  display: block;
  transition: 0.4s linear;
}
.commodity-sections__item {
  overflow: hidden;
}
.commodity-sections__item:hover,
.commodity-sections__item:focus {
  cursor: pointer;
}
.commodity-sections__item:hover img,
.commodity-sections__item:focus img {
  transform: scale(1.1);
}
.commodity-sections__item:hover .commodity-sections__description,
.commodity-sections__item:focus .commodity-sections__description {
  background-color: #47A2D8;
}
.commodity-sections__item:active .commodity-sections__description {
  opacity: 0.5;
}
.collections__heading {
  margin-top: 20px;
  margin-bottom: 15px;
}
.collections img {
  display: block;
  transition: 0.4s linear;
}
.collections__item {
  overflow: hidden;
}
.collections__item:hover,
.collections__item:focus {
  cursor: pointer;
}
.collections__item:hover img,
.collections__item:focus img {
  transform: scale(1.1);
}
.collections__item:hover .collections__description,
.collections__item:focus .collections__description {
  background-color: #47A2D8;
}
.collections__item:active .collections__description {
  opacity: 0.5;
}
