@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/roboto-bold.woff2") format("woff2"), url("../fonts/roboto-bold.woff") format("woff");
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  background-color: #FFFFFF;
}
.page-header img {
  display: block;
  margin: 0 auto;
}
.page-header__logo {
  height: 118px;
  background-color: #142F4F;
}
.page-header__nav {
  box-sizing: border-box;
  min-width: 320px;
  padding: 20px 10px 13px 10px;
  margin: 0 auto;
}
.page-header__link-logo {
  display: block;
  width: 251px;
  height: 48px;
  margin: 0 auto;
}
.page-header__phone {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 6px;
  margin-top: 17px;
}
.page-header__phone p {
  margin-bottom: 10px;
  margin-right: 14px;
  font-size: 20px;
  color: #000000;
}
.page-header__phone span {
  font-size: 13px;
}
.page-header__link {
  box-sizing: border-box;
  width: 129px;
  padding: 5px 12px;
  margin-top: 23px;
  margin-bottom: 18px;
  font-size: 13px;
}
@media (min-width: 768px) {
  .page-header__logo {
    height: 122px;
  }
  .page-header__nav {
    display: flex;
    justify-content: space-between;
    min-width: 768px;
    max-width: 1280px;
  }
  .page-header__link-logo {
    margin: 0;
  }
  .page-header__phone {
    margin-top: 0;
    margin-left: -40px;
  }
  .page-header__phone p {
    margin-bottom: 0;
    margin-top: 9px;
  }
  .page-header__link {
    margin-top: 12px;
    margin-bottom: 10px;
  }
  .page-header .page-header__grohe {
    margin-right: -2px;
    margin-top: 8px;
  }
}
.button {
  color: #3fBAE8;
  background-color: transparent;
  border: 1px solid #3fBAE8;
  border-radius: 4px;
  transition: 0.4s linear;
}
.button:hover,
.button:focus {
  color: #FFFFFF;
  background-color: #3fBAE8;
}
.button:active {
  opacity: 0.5;
}
.main-banner {
  display: block;
  width: 100%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .main-banner {
    height: 399px;
  }
}
.heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #142F4F;
}
@media (min-width: 768px) {
  .heading {
    margin-top: 41px;
  }
}
.item {
  display: block;
  box-sizing: border-box;
  min-width: 300px;
  margin-right: 10px;
}
.item:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  .item {
    min-width: 290px;
    margin-right: 33px;
    margin-bottom: 33px;
  }
  .item:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 1280px) {
  .item:nth-child(2n) {
    margin-right: 33px;
  }
  .item:last-child {
    margin-right: 0;
  }
}
.description {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 11px;
  margin-top: -1px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background-color: #142F4F;
  z-index: 2;
  transition: 0.4s linear;
}
@media (min-width: 768px) {
  .description {
    width: 290px;
  }
}
.container {
  display: flex;
  box-sizing: border-box;
  width: 320px;
  padding: 0 10px;
  margin: 0 auto;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .container {
    flex-wrap: wrap;
    width: 633px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
.commodity-sections__heading {
  margin-bottom: 15px;
}
.commodity-sections__item img {
  display: block;
  transition: 0.4s linear;
}
.commodity-sections__item {
  overflow: hidden;
}
.commodity-sections__item:hover img,
.commodity-sections__item:focus img {
  transform: scale(1.1);
}
.commodity-sections__item:hover .commodity-sections__description,
.commodity-sections__item:focus .commodity-sections__description {
  background-color: #3fBAE8;
}
@media (min-width: 768px) {
  .commodity-sections__heading {
    margin-bottom: 24px;
  }
  .commodity-sections__item img {
    width: 290px;
    height: 218px;
  }
}
.collections__heading {
  margin-top: 20px;
  margin-bottom: 15px;
}
.collections img {
  display: block;
  transition: 0.4s linear;
}
.collections__item {
  overflow: hidden;
}
.collections__item:hover,
.collections__item:focus {
  cursor: pointer;
}
.collections__item:hover img,
.collections__item:focus img {
  transform: scale(1.1);
}
.collections__item:hover .collections__description,
.collections__item:focus .collections__description {
  background-color: #3fBAE8;
}
@media (min-width: 768px) {
  .collections__heading {
    margin-bottom: 24px;
  }
  .collections img {
    width: 290px;
    height: 218px;
  }
}
@media (min-width: 1280px) {
  .collections__heading {
    margin-top: 8px;
  }
}
.special-offer__heading {
  margin-top: 21px;
  margin-bottom: 14px;
}
.special-offer__item {
  position: relative;
  box-sizing: border-box;
  min-width: 300px;
  max-width: 300px;
  margin-right: 10px;
  font-size: 15px;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  overflow: hidden;
}
.special-offer__tags {
  position: absolute;
  top: 17px;
  left: 15px;
  z-index: 3;
}
.special-offer__tag {
  float: left;
  padding: 0px 10px;
  margin: 0 5px 7px 0;
  font-size: 14px;
  color: #FFFFFF;
  border-radius: 4px;
}
.special-offer__tag--delivery {
  background-color: #3ECA54;
}
.special-offer__tag--leader {
  background-color: #9F1C1C;
}
.special-offer__tag--storage {
  background-color: #006400;
}
.special-offer__tag--exclusive {
  background-color: #693790;
}
.special-offer__item img {
  display: block;
  margin: 18px auto;
}
.special-offer__details {
  position: relative;
  padding: 15px;
  border-top: 1px solid #E0E0E0;
}
.special-offer__review {
  padding: 2px;
}
.special-offer__review a {
  display: inline-block;
  margin-left: 6px;
  color: #00A6DF;
  border-bottom: 1px dashed #00A6DF;
  transition: 0.4s linear;
}
.special-offer__review a:hover,
.special-offer__review a:focus {
  color: #142F4F;
  border-bottom: 1px solid #142F4F;
}
.special-offer__review a:active {
  opacity: 0.5;
}
.special-offer__star {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.special-offer__star--fill {
  background-image: url("../img/star-fill.svg");
}
.special-offer__description {
  min-height: 87px;
  margin: 5px 0;
}
.special-offer__country {
  padding-left: 28px;
  background-position: 1px;
  background-repeat: no-repeat;
  background-size: 19px 18px;
}
.special-offer__country--czech {
  background-image: url(../img/cz.png);
}
.special-offer__country--switzerland {
  background-image: url(../img/sw.png);
}
.special-offer__country--turkey {
  background-image: url(../img/tu.png);
}
.special-offer__country--russia {
  background-image: url(../img/ru.png);
}
.special-offer__price {
  display: block;
  margin-top: 22px;
  margin-bottom: 19px;
  font-size: 24px;
}
.special-offer__price::before {
  content: "";
  position: absolute;
  bottom: 109px;
  display: inline-block;
  width: 267px;
  height: 1px;
  background-color: #E0E0E0;
}
.special-offer__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.special-offer__link {
  display: inline-block;
  width: 70px;
  padding: 10px 15px 8px;
  letter-spacing: -0.7px;
}
.special-offer__icon {
  display: inline-block;
  width: 24px;
  height: 22px;
  padding: 0;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.special-offer__icon--heart {
  background-image: url("../img/heart.svg");
}
.special-offer__icon--scale {
  margin: 4px 2px 4px 15px;
  background-image: url("../img/scale.svg");
}
.special-offer__icon--heart:hover,
.special-offer__icon--heart:focus {
  background-image: url("../img/heart-hover.svg");
}
.special-offer__icon--scale:hover,
.special-offer__icon--scale:focus {
  background-image: url("../img/scale-hover.svg");
}
.special-offer__icon:active {
  opacity: 0.5;
}
@media (min-width: 768px) {
  .special-offer__item {
    min-width: 292px;
    max-width: 292px;
    margin-right: 29px;
    margin-bottom: 29px;
  }
  .special-offer__item:nth-child(2n) {
    margin-right: 0;
  }
  .special-offer__item img {
    height: 273px;
  }
  .special-offer__description {
    margin: 3px 0 2px;
    letter-spacing: -0.2px;
  }
  .special-offer__link {
    padding: 8px 13px 8px;
  }
}
@media (min-width: 1280px) {
  .special-offer__heading {
    margin-top: 8px;
    margin-bottom: 24px;
  }
  .special-offer__item:nth-child(2n) {
    margin-right: 29px;
  }
  .special-offer__item:last-child {
    margin-right: 0;
  }
}
.design-technologies__heading {
  margin-top: 22px;
  margin-bottom: 42px;
}
.design-technologies__description img {
  display: block;
  margin: 0 auto;
}
.design-technologies__text {
  box-sizing: border-box;
  max-width: 320px;
  padding: 14px 9px 5px 11px;
  margin: 0 auto;
}
.design-technologies__text p {
  margin-top: 0;
  margin-bottom: 21px;
}
.design-technologies__line {
  width: 100%;
  height: 1px;
  margin-top: 62px;
  margin-bottom: 36px;
  background-color: #EEEEEE;
}
@media (min-width: 768px) {
  .design-technologies__description img {
    width: 480px;
    height: 360px;
  }
  .design-technologies__text {
    max-width: 750px;
  }
}
@media (min-width: 1140px) {
  .design-technologies__wrapper {
    box-sizing: border-box;
    max-width: 1280px;
    padding: 0 10px;
    padding-bottom: 84px;
    margin: 0 auto;
  }
  .design-technologies__heading {
    margin-top: 14px;
    margin-bottom: 23px;
    text-align: left;
  }
  .design-technologies__description {
    display: flex;
  }
  .design-technologies__text {
    max-width: 750px;
    padding-top: 0;
    margin-left: 26px;
    margin-top: -2px;
  }
  .design-technologies__text--technologies {
    order: -1;
    padding-left: 0;
    margin-left: 2px;
    margin-top: -5px;
  }
  .design-technologies__description--technologies img {
    margin-right: 13px;
    margin-top: 1px;
  }
}
.page-footer {
  color: #FFFFFF;
  background-color: #142F4F;
}
.page-footer a {
  color: inherit;
}
.page-footer__wrapper {
  box-sizing: border-box;
  max-width: 320px;
  padding: 23px 10px;
  margin: 0 auto;
}
.page-footer__wrapper ul {
  padding: 0;
  margin-top: 0;
  list-style: none;
  font-weight: 700;
}
.page-footer__wrapper li {
  font-weight: 400;
}
.page-footer__wrapper .page-footer__groups {
  padding-left: 2px;
  margin-bottom: 44px;
}
.page-footer__groups li,
.page-footer__info li,
.page-footer__seller li {
  margin: 10px 0;
}
.page-footer__groups a {
  text-decoration: underline;
}
.page-footer__groups a:hover,
.page-footer__groups a:focus {
  text-decoration: none;
}
.page-footer__groups a:active {
  opacity: 0.5;
}
.page-footer__info {
  width: 280px;
  margin-bottom: 40px;
}
.page-footer__contacts li {
  margin: 10px 0 41px;
}
.page-footer__contacts a:hover,
.page-footer__contacts a:focus {
  text-decoration: underline;
}
.page-footer__contacts a:active {
  opacity: 0.5;
}
.page-footer__contacts span {
  display: block;
  margin-top: 10px;
}
.page-footer__footnote {
  padding-bottom: 47px;
  margin-top: -3px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    max-width: 768px;
    padding-top: 44px;
  }
}
@media (min-width: 1280px) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    padding-top: 44px;
  }
  .page-footer__info {
    margin-left: 107px;
  }
  .page-footer__seller {
    margin-right: 117px;
  }
  .page-footer__footnote {
    padding-bottom: 41px;
    margin-top: -38px;
  }
}
