.commodity-sections__heading {
  margin-bottom: 15px;
}

.commodity-sections__item img {
  display: block;

  transition: 0.4s linear;
}

.commodity-sections__item {
  overflow: hidden;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.commodity-sections__item:hover img,
.commodity-sections__item:focus img {
  transform: scale(1.1);
}

.commodity-sections__item:hover .commodity-sections__description,
.commodity-sections__item:focus .commodity-sections__description {
  background-color: @button-color;
}

@media (min-width: 768px) {
  .commodity-sections__heading {
    margin-bottom: 25px;
  }
}
