.description {
  position: relative;

  box-sizing: border-box;
  width: 100%;
  padding: 11px;
  margin-top: -1px;

  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: @white;

  background-color: @dark-blue;

  z-index: 2;
}
