.page-header {
  background-color: @white;
}

.page-header img {
  display: block;
  margin: 0 auto;
}

.page-header__logo {
  height: 118px;

  background-color: @dark-blue;
}

.page-header__nav {
  box-sizing: border-box;
  min-width: 320px;
  padding: 20px 10px 13px 10px;
  margin: 0 auto;
}

.page-header__link-logo {
  display: block;

  width: 251px;
  height: 48px;
  margin: 0 auto;
}

.page-header__phone {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0 6px;
  margin-top: 17px;
}

.page-header__phone p {
  margin-bottom: 10px;
  margin-right: 14px;

  font-size: 20px;
  color: @black;
}

.page-header__phone span {
  font-size: 13px;
}

.page-header__link {
  box-sizing: border-box;
  width: 129px;
  padding: 5px 12px;
  margin-top: 23px;
  margin-bottom: 18px;

  font-size: 13px;
}

@media (min-width: 768px) {
  .page-header__logo {
    height: 122px;
  }

  .page-header__nav {
    display: flex;
    justify-content: space-between;

    min-width: 768px;
    max-width: 1280px;
  }

  .page-header__link-logo {
    margin: 0;
    margin-left: 5px;
  }

  .page-header__phone {
    margin-top: 0;
    margin-left: -40px;
  }

  .page-header__phone p {
    margin-bottom: 0;
    margin-top: 9px;
  }

  .page-header__link {
    margin-top: 12px;
    margin-bottom: 10px;
  }

  .page-header .page-header__grohe {
    margin-right: -6px;
    margin-top: 8px;
  }
}
