.page-footer {
  color: @white;
  background-color: @dark-blue;
}

.page-footer a {
  color: inherit;
}

.page-footer__wrapper {
  box-sizing: border-box;
  max-width: 320px;
  padding: 23px 10px;
  margin: 0 auto;
}

.page-footer__wrapper ul {
  padding: 0;
  margin-top: 0;

  list-style: none;
}

.page-footer__wrapper li {
  font-weight: 400;

  &:first-child {
    margin: 0;

    font-weight: 700;
  }
}

.page-footer__wrapper .page-footer__groups {
  padding-left: 2px;
  margin-bottom: 44px;
}

.page-footer__groups li,
.page-footer__info li,
.page-footer__seller li {
  margin: 10px 0;
}

.page-footer__groups a {
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-footer__info {
  width: 280px;
  margin-bottom: 40px;
}

.page-footer__contacts li {
  margin: 10px 0 41px;
}

.page-footer__contacts a {
  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-footer__contacts span {
  display: block;

  margin-top: 10px;
}

.page-footer__footnote {
  padding-bottom: 47px;
  margin-top: -3px;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    max-width: 768px;
    padding-top: 44px;
  }
}

@media (min-width: 1280px) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;

    max-width: 1280px;
    padding-top: 44px;
  }

  .page-footer__info {
    margin-left: 107px;
  }

  .page-footer__seller {
    margin-right: 117px;
  }

  .page-footer__footnote {
    padding-bottom: 41px;
    margin-top: -38px;
  }
}
